# 実行ファイル
*
!*/
!*.*

# 各種設定ファイル
.local/
.kyopuro/
# .devcontainer.json
# .vscode/
.DS_Store

# pycache
__pycache__/
.ipynb_checkpoints/

# 公開しちゃダメなやつ
paiza/

# atcoder-cli / online-judge-tools
test/
node_modules/
contest.acc.json