# 実行ファイル
*
!*/
!*.*

# 各種設定ファイル
.local/
.kyopuro/
.DS_Store
.mypy_cache/

# ac-library
ac-library/

# pycache
__pycache__/
.ipynb_checkpoints/

# 公開しちゃダメなやつ
paiza/

# atcoder-cli / online-judge-tools
test/
node_modules/
contest.acc.json

# ヒューリスティック
*.dSYM/
tools/
in/
out/
debug/
target/
**/*.rs.bk

# rustビルド用プロジェクト
builder/

# テスト用ファイル
test.txt

# 環境変数
.env
