# 実行ファイル
*
!*/
!*.*

# 各種設定ファイル
.local/
.kyopuro/
.DS_Store
.mypy_cache/

# pycache
__pycache__/
.ipynb_checkpoints/

# 公開しちゃダメなやつ
paiza/

# atcoder-cli / online-judge-tools
test/
node_modules/
contest.acc.json

# atcoder library
ac-library/

# cargo-compete
testcases/
target/
# Cargo.toml
# Cargo.lock

# rustビルド用プロジェクト
builder/

# テスト用ファイル
test.txt

# 環境変数
.env

# ワークスペースのスニペット
.vscode/
!/.vscode

# バーチャルコンテスト
virtual_contest/
virtual_participation/
